{% comment %} Site Navigation {% endcomment %}
{%- assign mobile_menu_behaviour = settings.mobile_menu_behaviour -%}
{%- assign menuPrimary = section.settings.menu_list -%}
{%- assign image = section.settings.meganav_image -%}
{%- assign image_heading = section.settings.meganav_image_heading -%}
{%- assign image_link = section.settings.meganav_image_link -%}
{%- assign image_aspect_ratio = section.settings.image_aspect_ratio | times: 100 -%}

{%- assign image_2 = section.settings.meganav_image_2 -%}
{%- assign image_heading_2 = section.settings.meganav_image_heading_2 -%}
{%- assign image_link_2 = section.settings.meganav_image_link_2 -%}
{%- assign image_aspect_ratio_2 = section.settings.image_aspect_ratio_2 | times: 100 -%}

{%- assign has_meganav = false -%}
{%- if linklists[menuPrimary].levels == 3 and is_hamburger_nav == false -%}
  {%- assign has_meganav = true -%}
{%- endif -%}

{%- assign dropdown_id = 'NavDropdown' -%}
{%- if is_hamburger_nav -%}
  {%- assign dropdown_id = 'NavMobileDropdown' -%}
{%- endif -%}

<ul class="menu {% if has_meganav %}menu--has-meganav{% endif %}">
  {% comment %}
  Loop through the first link list.
  {% endcomment %}{%- if menuPrimary != blank -%}
    {%- for link in linklists[menuPrimary].links -%}
      {%- assign has_sub_menu = false -%}

      {%- for sublink in link.links -%}
        {%- if link.levels > 0 -%}
          {%- assign has_sub_menu = true -%}
        {%- endif -%}
      {%- endfor -%}

      {%- assign is_meganav = false -%}
      {%- if link.levels == 2 and is_hamburger_nav == false -%}
        {%- assign is_meganav = true -%}
      {%- endif -%}

      {%- assign dropdown_trigger = false -%}
      {%- if link.levels > 0 and mobile_menu_behaviour == 'trigger' and is_hamburger_nav -%}
        {%- assign dropdown_trigger = true -%}
      {%- endif -%}

      <li class="menu-item{% if has_sub_menu %} has-submenu{% endif %}{% if is_meganav %} menu-item--meganav{% elsif has_sub_menu %} menu-item--dropdown{% endif %}"{% if has_sub_menu %}data-dropdown-parent{% endif %}>
        <!-- LINKS -->
        <a
          href="{{ link.url }}"
          class="menu-item__link"
          {% if dropdown_trigger %}
          aria-controls="{{ dropdown_id }}--{{ link.handle }}-{{ forloop.index0 }}"
          data-collapsible-trigger
          {% endif %}
          data-menu-item-link>
          {{- link.title | escape -}}
        </a>
        {%- if has_sub_menu and is_hamburger_nav == false -%}
          <button
            class="toggle-submenu"
            aria-haspopup="true"
            aria-expanded="false"
            aria-label="{{ link.title | escape }}"
            aria-controls="{{ dropdown_id }}--{{ link.handle }}-{{ forloop.index0 }}"
            data-collapsible-trigger>
            {%- render 'icon-arrow' -%}
          </button>
        {%- endif -%}

        {%- if link.levels > 0 -%}
          {%- if is_meganav -%}
            <div class="megamenu-wrapper" id="{{ dropdown_id }}--{{ link.handle }}-{{ forloop.index0 }}">
              <div class="megamenu-inner" data-collapsible-content>
                <div class="container">
                {%- endif -%}

                {%- capture submenuClass -%}
                  {%- if is_meganav -%}
                    submenu--items-{{ link.links.size }}
                  {%- endif -%}
                {%- endcapture -%}

                {%- comment -%} MEGAMENU IMAGE AND TEXT {%- endcomment -%}
                {%- if is_meganav -%}
                  {%- if image != blank or image_heading != blank -%}
                    <div class="megamenu__image">
                      {%- if image != blank -%}
                        {%- capture megamenu_image -%}
                          <div
                            class="megamenu__image-bg lazyload"
                            data-bgset="{% render 'bgset', image: image_2 %}"
                            data-sizes="auto"
                            data-parent-fit="cover"
                            style="padding-top: {{ image_aspect_ratio }}%;"></div>
                          <noscript>
                            <div class="megamenu__image-bg" style="background-image: url({{ image_2 | img_url: '1024x' }}); padding-top: {{ image_aspect_ratio }}%;"></div>
                          </noscript>
                        {%- endcapture -%}

                        {%- unless image_link_2 == blank -%}
                          <a href="{{ image_link_2 }}" class="megamenu__image-inner">
                            <img src="{{ image_2 | img_url: '1024x' }}">
                          </a>
                        {%- else -%}
                          <div class="megamenu__image-inner">
                            <img src="{{ image_2 | img_url: '1024x' }}">
                          </div>
                        {%- endunless -%}
                      {%- endif -%}

                      {%- unless image_heading == blank -%}
                        <h4>
                          <span>
                            {%- if image_link_2 != blank -%}
                              <a href="{{ image_link_2 }}">{{ image_heading }}</a>
                            {%- else -%}
                              {{- image_heading -}}
                            {%- endif -%}
                          </span>
                        </h4>
                      {%- endunless -%}
                    </div>
                  {%- endif -%}

                  {%- if image != blank or image_heading != blank -%}
                    <div class="megamenu__image">
                      {%- if image != blank -%}
                        {%- capture megamenu_image -%}
                          <div
                            class="megamenu__image-bg lazyload"
                            data-bgset="{% render 'bgset', image: image %}"
                            data-sizes="auto"
                            data-parent-fit="cover"
                            style="padding-top: {{ image_aspect_ratio }}%;"></div>
                          <noscript>
                            <div class="megamenu__image-bg" style="background-image: url({{ image | img_url: '1024x' }}); padding-top: {{ image_aspect_ratio }}%;"></div>
                          </noscript>
                        {%- endcapture -%}

                        {%- unless image_link == blank -%}
                          <a href="{{ image_link }}" class="megamenu__image-inner">
                            <img src="{{ image | img_url: '1024x' }}">
                          </a>
                        {%- else -%}
                          <div class="megamenu__image-inner">
                            <img src="{{ image | img_url: '1024x' }}">
                          </div>
                        {%- endunless -%}
                      {%- endif -%}

                      {%- unless image_heading == blank -%}
                        <h4>
                          <span>
                            {%- if image_link != blank -%}
                              <a href="{{ image_link }}">{{ image_heading }}</a>
                            {%- else -%}
                              {{- image_heading -}}
                            {%- endif -%}
                          </span>
                        </h4>
                      {%- endunless -%}
                    </div>
                  {%- endif -%}
                {%- endif -%}
                {%- comment -%} END MEGANAV IMAGE AND TEXT {%- endcomment -%}

                {%- if link.levels > 0 and is_hamburger_nav -%}
                  <button
                    class="dropdown-arrow"
                    aria-expanded="false"
                    aria-haspopup="true"
                    aria-label="{{ link.title | escape }}"
                    aria-controls="{{ dropdown_id }}--{{ link.handle }}-{{ forloop.index0 }}"
                    data-collapsible-trigger>
                    {%- render 'icon-arrow' -%}
                  </button>
                {%- endif -%}

                <div class="submenu{% unless is_meganav %} submenu--dropdown{% endunless %} {{ submenuClass }}"{% unless is_meganav %}id="{{ dropdown_id }}--{{ link.handle }}-{{ forloop.index0 }}"{% endunless %}>
                  <ul data-collapsible-content>
                    {%- comment -%} SUBMENU LINKS {%- endcomment -%}
                    {%- for sublink in link.links -%}
                      {%- assign dropdown_trigger = false -%}
                      {%- if sublink.levels > 0 and mobile_menu_behaviour == 'trigger' and is_hamburger_nav -%}
                        {%- assign dropdown_trigger = true -%}
                      {%- endif -%}
                      <li data-levels="{{ sublink.levels }}" class="submenu-item{% if sublink.levels > 0 %} has-submenu{% endif %}">
                        {%- comment -%} SUBLINK TITLE {%- endcomment -%}
                        <a
                          class="submenu-item__link visible-nav-link{% if is_meganav %} submenu-item__title{% endif %}"
                          href="{{ sublink.url }}"
                          data-visible-link{% if has_sub_menu %}
                          aria-expanded="false"
                          aria-haspopup="true"
                          {% endif %}
                          {% if dropdown_trigger %}
                          aria-controls="{{ dropdown_id }}--{{ link.handle }}-{{ sublink.handle }}-{{ forloop.index0 }}"
                          data-collapsible-trigger
                          {% endif %}>
                          {{- sublink.title -}}
                        </a>
                        {%- if sublink.levels > 0 and is_hamburger_nav -%}
                          <button
                            class="dropdown-arrow"
                            aria-expanded="false"
                            aria-haspopup="true"
                            aria-label="{{ sublink.title | escape }}"
                            aria-controls="{{ dropdown_id }}--{{ link.handle }}-{{ sublink.handle }}-{{ forloop.index0 }}"
                            data-collapsible-trigger>
                            {%- render 'icon-arrow' -%}
                          </button>
                        {%- endif -%}
                        {%- if sublink.levels > 0 -%}
                          <div
                            class="submenu"
                            {% unless is_meganav %}
                            id="{{ dropdown_id }}--{{ link.handle }}-{{ sublink.handle }}-{{ forloop.index0 }}"
                            {% endunless %}>
                            <ul data-collapsible-content>
                              {%- comment -%} SUB-SUBMENU LINKS {%- endcomment -%}
                              {%- for subsublink in sublink.links -%}
                                <li class="submenu-item">
                                  <a
                                    href="{{ subsublink.url }}"
                                    class="submenu-item__link visible-nav-link"
                                    data-visible-link>{{ subsublink.title }}</a>
                                </li>
                              {%- endfor -%}
                            </ul>

                            {% if sublink.title == "Necklace" or sublink.title == "Earrings" or sublink.title == "Rings" or sublink.title == "Bracelets" %}
                              <picture>
                                <source media="(max-width:900px)" srcset="{% if sublink.title == "Necklace" %} https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_205-min.jpg?v=1680513393 {% elsif sublink.title == "Earrings" %}https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_207-min.jpg?v=1680513393 {% elsif sublink.title == "Rings" %} https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_206-min.jpg?v=1680513394{% elsif sublink.title == "Bracelets" %}https://cdn.shopify.com/s/files/1/0039/7246/4749/files/Group_208-min.jpg?v=1680513394 {% endif %}">
                                <img src="" onclick="location.href='{% if sublink.title == "Necklace" %}/collections/necklaces {% elsif sublink.title == "Earrings" %}/collections/earrings {% elsif sublink.title == "Rings" %}/collections/rings {% elsif sublink.title == "Bracelets" %}/collections/bracelets{% endif %}'">
                              </picture>
                            {% endif %}

                          </div>
                        {%- endif -%}
                      </li>
                      {%- comment -%} END SUBSUBLINK {%- endcomment -%}
                    {%- endfor -%}
                  </ul>
                </div>

                {%- if is_meganav -%}
                </div>
              </div>
            </div>
            {%- comment -%} END MEGAMENU WRAPPER {%- endcomment -%}
          {%- endif -%}
        {%- endif -%}

      </li>
    {%- endfor -%}
  {%- endif -%}


</ul>



{%- if is_hamburger_nav -%}
  <div style="display: flex; padding-left:39px; padding-right:39px">
    <img src="{{ image_2 | img_url: '1024x' }}" onclick="location.href='/collections/newarrivals'" style="width:50%; padding-right:8px">
    <img src="{{ image | img_url: '1024x' }}" onclick="location.href='/collections/best-sellers'" style="width:50%; padding-left:8px">
  </div>

	
  <div class="nav-user">
    <ul>
      {%- if shop.customer_accounts_enabled -%}
        {%- if customer -%}
          <li class="nav-user__item nav-user__item--account">
            <a href="{{ routes.account_url }}" class="nav-user__link">{{ 'customer.link.my_account' | t }}</a>
          </li>
        {%- else -%}
          <li class="nav-user__item nav-user__item--account">
            <a href="{{ routes.account_login_url }}" class="nav-user__link">{{ 'customer.link.login' | t }}</a>
          </li>
        {%- endif -%}
      {%- endif -%}



      {%- if settings.show_search -%}
        <li class="nav-user__item nav-user__item--search">
          <a href="/pages/contact-us" class="nav-user__link">CONTACT US</a>
        </li>
      {%- endif -%}
    </ul>
  </div>

  {%- render 'social-links' social_class: 'nav-footer', social_inner_class: 'nav-social', social_list_class: 'social-links social-links--nav', last_focusable_element: true -%}
{%- endif -%}