{%- comment -%}
  Renders list of products in grid layout

  Accepts:
  - product: {Object} product (required)
  - grid_block_size: {String} outputs grid classes on desktop
  - grid_block_size_mobile: {String} outputs grid classes on mobile
  - index: {Number} Index of the item in products loop

  Usage:
  {% render 'product-grid-item', product: product, grid_block_size: grid_block_size, grid_block_size_mobile: grid_block_size_mobile, index: forloop.index %}
{%- endcomment -%}

{%- liquid
  assign file_extension = 'png'
  assign show_reviews = settings.show_reviews
  assign show_review_stars = settings.show_review_stars
  assign price_swatches_hover = settings.price_swatches_hover
  assign show_sale_badge = false
  unless settings.product_badge_style == 'none'
    assign show_sale_badge = true
  endunless
-%}

{%-	unless fallback -%}
  {%- liquid
    assign first_variant = product.selected_or_first_available_variant

    assign on_sale = false
    if product.compare_at_price > product.price
      assign on_sale = true
      assign on_sale_class = ' is-sale'
    endif

    assign sold_out = true
    if product.available
      assign sold_out = false
    endif

    unless show_sale_badge
      assign on_sale = false
    endunless

    comment
      Product tags
    endcomment
     
    assign product_tags = product.tags | join: ',' | append: ','
    assign preorder = false
    assign badge = ''

    if product_tags contains '_badge_'
      assign replace_symbol = ' '

      if settings.product_badge_style == 'circle'
        assign replace_symbol = '<br>'
      endif

      assign badge = product_tags | split: '_badge_'
      assign badge = badge[1] | split: ',' | first | replace: '_', replace_symbol
    endif

    if product_tags contains '_preorder'
      assign preorder = true
    endif
  -%}



  <div class="product-block block {{ grid_block_size }} {{ grid_block_size_mobile }}" data-product-block>
    <div class="product-block__inner"{% if settings.transition_grid_items %} data-aos="zoom-in-up"{% endif %}>
      {%- if product.media.size > 0 -%}

          <div
            class="product-block__image lazyload{% if product.media[1].preview_image != blank and settings.hover_image %} has-second-image{% endif %}"
            title="{% if product.object_type == 'product' %}{{ product.featured_media.alt | escape }}{% elsif product.object_type == 'article' %}{{ product.title | strip_html }}{% endif %}"
            data-bgset="{% render 'bgset', image: last_img %}"
            data-sizes="auto"
            data-parent-fit="cover"
            data-aspectratio="{{ last_img.aspect_ratio }}"
            data-product-image>
            {{- product_image_link -}}
            {{- quick_view_link -}}
          </div>

        <noscript>
          <div
            class="product-block__image"
            title="{% if product.object_type == 'product' %}{{ product.featured_media.alt | escape }}{% elsif product.object_type == 'article' %}{{ product.title | strip_html}}{% endif%}"
            style="background-image:url('{{ last_img  }}');">
            {{- product_image_link -}}
          </div>
        </noscript>
      {%- else -%}
        <div class="product-block__image" data-product-image data-aspectratio="1">
          {%- comment -%} Show "No image" if product has no media {%- endcomment -%}
          {%- assign image_url_pattern = last_img| img_url: '1080x' | replace: '_1080x.', '_{width}x.' -%}
          {%- assign image_widths = "[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]" -%}
          <img
            class="product-image product-image--empty lazyload"
            src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
            data-src="{{ last_img }}"
            data-widths= "{{ image_widths }}"
            data-aspectratio="1"
            data-sizes="auto"
            width="1080"
            height="1080"
            alt="{{ product.title | strip_html | escape }}">
            <noscript>
              <img
                class="product-image product-image--empty"
                src="{{last_img}}"
                width="1080"
                height="1080"
                alt="{{ product.title | strip_html | escape }}">
            </noscript>

            {{- product_image_link -}}
            {{- quick_view_link -}}
        </div>
      {%- endif -%}

      <div class="product-block__info product-block__info--{{ settings.product_title_position }}">
        <div class="product-block__top">
          <h3 class="product-block__title"><a href="{{ product.url | within: collection }}">{{ product.title | strip_html }}</a></h3>

          {%- if settings.show_review_stars -%}
            <div class="product-block__badge">
              {%- render 'rating', reviews: product.metafields.reviews, show_rating_count: settings.show_rating_count -%}
            </div>
          {%- endif -%}
        </div>

        <div class="product-block__price">
          <p class="price{% if price_swatches_hover %} price--hover{% endif %}{% if on_sale %} sale{% endif %}">
            {%- if product.price_varies -%}
              {{ 'products.labels.price_from' | t }} {{ product.price_min | money }}
            {%- else -%}
              {% if on_sale or settings.is_compare  %}
                {% if settings.product_discount %}
                  {% assign dc_rate = 1 | minus: settings.product_discount %}
                  {{ product.price | times: dc_rate | money }}
                  <strike style="text-decoration-color:#f94c43">{{ product.price | money_without_currency }}</strike>
                {% else %}
                  {{ product.price | money }}
                  {{ product.compare_at_price | money_without_currency }}
                {% endif %}
              {% else %}
                {{ product.price | money }}
              {% endif %}
            {%- endif -%}

            {%- if first_variant.unit_price_measurement -%}
              <span class="product__unit-price">
                {{ first_variant.unit_price | money }}
                {%- if first_variant.unit_price_measurement.reference_value != 1 -%}
                  {{- first_variant.unit_price_measurement.reference_value -}}
                {%- endif -%}
                {{ first_variant.unit_price_measurement.reference_unit }}
              </span>
            {%- endif -%}
          </p>
        </div>

        {%- if product.variants.size > 1 and settings.enable_color_swatches -%}
          {%- capture swatch_translation -%}{{ 'general.swatches.color' | t }}{%- endcapture -%}

          {%- assign swatch_labels = swatch_translation | append: ',' | split: ',' -%}
          {%- for label in swatch_labels -%}
            {%- assign sanitized_label = label | lstrip | rstrip -%}
            {%- if product.options_by_name[sanitized_label].values.size > 0 -%}
              <div class="product-block__swatch swatch--{{ settings.color_swatches_style }}{% if price_swatches_hover %} product-block__swatch--hover{% endif %}" data-grid-swatches data-swatch-handle="{{ product.handle }}" data-swatch-label="{{ label }}"></div>

              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </div>
{%- else -%}
  <div class="product-block block {{ grid_block_size }} {{ grid_block_size_mobile }}" data-product-block>
    <div class="product-block__inner"{% if settings.transition_grid_items %} data-aos="zoom-in-up"{% endif %}>
      <div class="product-block__image svg-placeholder" data-product-image>
        {%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
        {{ 'product-' | append: current | placeholder_svg_tag }}

        {%- if settings.hover_image -%}
          {% capture current_next %}{% cycle 5, 6, 1, 2, 3, 4 %}{% endcapture %}
          <span class="product-block__image-hover product-block__image-hover--placeholder svg-placeholder">{{ 'product-' | append: current_next | placeholder_svg_tag }}</span>
        {%- endif -%}

        {%- if settings.show_quick_view -%}
          <div class="product-block__image-inner">
            <div class="quickView-button button">{{ 'collections.grid.quick_view' | t }}</div>
          </div>
        {%- endif -%}
      </div>
      <div class="product-block__info product-block__info--{{ settings.product_title_position }}">

        <div class="product-block__top">
          <h3 class="product-block__title">{{ 'onboarding.product_title' | t }}</h3>

          {%- if settings.show_review_stars -%}
            <div class="product-block__badge">
              {%- render 'rating', show_rating_count: settings.show_rating_count, onboarding: true -%}
            </div>
          {%- endif -%}
        </div>

        <div class="product-block__price">
          <p class="price{% if price_swatches_hover %} price--hover{% endif %}"><span class="money">{{ '9900' | money}}</span></p>
        </div>

        {%- if settings.enable_color_swatches -%}
          {%- assign white = 'onboarding.colors.white' | t -%}
          {%- assign grey = 'onboarding.colors.grey' | t -%}
          {%- assign black = 'onboarding.colors.black' | t -%}

          <div class="product-block__swatch product-block__swatch--{{ settings.color_swatches_style }}{% if price_swatches_hover %} product-block__swatch--hover{% endif %}">
            {%- for i in (1..3) -%}
              {%- capture value -%}{%- cycle white, grey, black -%}{%- endcapture -%}
              <div data-value="{{ value | escape }}" class="swatch__element">
                <div class="swatch__label">
                  <span class="swatch__color swatch__color--{{ value | handle }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})"></span>
                </div>
                <a href="#" class="swatch__link">{{ value }}</a>
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endunless -%}