{%- comment -%}
  Renders product section and page

  Accepts:
  - product: {Object} product (required for Featured product section)
  - section_type: {String} Used for Featured product section

  Usage:
  {% render 'product', product: product, image_position: image_position, section_type: section_type %}
{%- endcomment -%}

{% comment %} Settings {% endcomment %}
{%- liquid
  assign image_size = section.settings.image_size
  assign image_position = section.settings.image_position
  assign lightbox = section.settings.lightbox
  assign arrows = settings.show_slideshow_arrows
  assign dots = settings.show_slideshow_dots
  assign dots_style = settings.dots_style
  assign enable_video_looping = section.settings.enable_video_looping
  assign is_product_template = false
  if section_type == 'product-template'
    assign is_product_template = true
  endif

  assign onboarding = false
  if product == blank
    assign onboarding = true
  endif

  if dots_style == 'hidden'
    assign dots = false
  endif

  assign product_layout = section.settings.product_layout
  assign show_reviews = settings.show_reviews
  assign first_3d_model = product.media | where: 'media_type', 'model' | first
  assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
  assign featured_media_id = featured_media.id
  assign featured_media_aspect_ratio = featured_media.aspect_ratio | default: 1
  assign preorder = false
  assign has_form_block = false
  assign is_single_media = true
  assign product_tags = product.tags | join: ',' | append: ','

  if product.media.size > 1
    assign is_single_media = false
  endif

  if product_tags contains '_preorder'
    assign preorder = true
  endif

  assign sold_out = true
  if product.available or product == blank
    assign sold_out = false
  endif
-%}

{%- capture product_images -%}
  {%- unless onboarding -%}
    {%- if product.media.size > 0 -%}
      {%- comment -%} Show Featured media first {%- endcomment -%}
     
      {%- render 'media', media: featured_media, featured_media: featured_media, is_single_media: is_single_media, enable_video_looping: enable_video_looping, unique: section.id -%}
        
      {%- comment -%} Loop product media skipping the featured {%- endcomment -%}
      {%- for media in product.media -%}
        {%- if media.id != featured_media_id -%}
          {%- render 'media', media: media, featured_media: featured_media, is_single_media: is_single_media, enable_video_looping: enable_video_looping, unique: section.id -%}
        {%- endif -%}
      {%- endfor -%}
    {%- else -%}
      {%- comment -%} Show "No image" if product has no media {%- endcomment -%}
      {%- assign image_url_pattern = product.featured_image | img_url: '540x' | replace: '_540x.', '_{width}x.' -%}
      {%- assign image_widths = "[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" -%}
      <img
        class="product-image product-image--empty lazyload"
        src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
        data-src="{{ image_url_pattern }}"
        data-widths= "{{ image_widths }}"
        data-aspectratio="1"
        data-sizes="auto"
        width="540"
        height="540"
        alt="{{ product.title | strip_html | escape }}">
    {%- endif -%}
  {%- else -%}
    <div class="product-image product-image--onboarding">
      {{ 'product-5' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endunless -%}
{%- endcapture -%}



{%- comment -%} Prevent CLS on flickity init {%- endcomment -%}
{%- if product_layout == 'slideshow' or is_product_template == false %}
  {%- style -%}
  .product__images__slider .flickity-viewport::after { aspect-ratio: {{ featured_media_aspect_ratio | round: 2 }}; }
  {%- endstyle -%}
{%- endif -%}

<div class="product product--layout-{{ product_layout }} container-wrap{% unless is_product-template %}featured-product featured-product--{{ section.id }}{% if onboarding %} onboarding-product{% endif %}{% endunless %}"
  data-show-reviews="{{ show_reviews }}"
  data-lightbox="{{ lightbox }}"
  data-product-container>
  <div class="container">
    {%- if settings.show_breadcrumbs and is_product_template -%}
      <div class="breadcrumbs">
        {%- render 'site-breadcrumbs' -%}
      </div>
    {%- endif -%}

    <div class="product__container{% if image_position == 'top' %} product__container--vertical{% endif %}">
      <div class="product__images product__images--{{ image_size }}">
        {%- if product_layout == 'slideshow' or is_product_template == false %}
          <div class="product__images__container" data-product-single-media-group>

            <div
              id="product__images__slider--{{ section.id }}"
              class="product__images__slider{% if is_single_media %} product__images__slider--single{% endif %} "
              data-dots="{{ dots }}"
              data-arrows="{{ arrows }}"
              data-product-slideshow>
              {{ product_images }}
            </div>
   
            {%- if first_3d_model -%}
              <button
                aria-label="{{ 'products.product_page.view_in_space_label' | t }}"
                class="btn btn--ar product-single__view-in-space"
                data-shopify-xr
                data-shopify-model3d-id="{{ first_3d_model.id }}"
                data-shopify-title="{{ product.title | strip_html }}"
                data-shopify-xr-hidden>
                {%- render 'icon-media-model' -%}
                <span class='product-single__view-in-space-text'>{{ 'products.product_page.view_in_space' | t }}</span>
              </button>
            {%- endif -%}
          </div>

          {%- unless is_single_media and onboarding -%}
            <div class="product__images__slider-nav" data-product-single-media-thumbs>
              {%- comment -%} Show Featured media thumbnail first {%- endcomment -%}
              {%- render 'media-thumb', media: featured_media, featured_media: featured_media, index: forloop.index -%}

              {%- comment -%} Loop product media thumbnails skipping the featured {%- endcomment -%}
              {%- for media in product.media -%}
                {%- if media.id != featured_media_id -%}
                  {%- render 'media-thumb', media: media, featured_media: featured_media, index: forloop.index -%}
                {%- endif -%}
              {%- endfor -%}
            </div>
          {%- endunless -%}
        {%- else -%}
          <div class="product__images__container" data-product-single-media-group>
            <div class="product__images__scroller{% if is_single_media %} product__images__scroller--single{% endif %}" data-lightbox="{{ lightbox }}" data-custom-scrollbar-items>
              {{ product_images }}
            </div>

            {%- if product.media.size > 1 -%}
              <div class="custom-scrollbar" data-custom-scrollbar>
                <div class="custom-scrollbar__track" data-custom-scrollbar-track></div>
              </div>
            {%- endif -%}

            {%- if first_3d_model -%}
              <button
                aria-label="{{ 'products.product_page.view_in_space_label' | t }}"
                class="btn btn--ar product-single__view-in-space"
                data-shopify-xr
                data-shopify-model3d-id="{{ first_3d_model.id }}"
                data-shopify-title="{{ product.title | strip_html }}"
                data-shopify-xr-hidden>
                {%- render 'icon-media-model' -%}
                <span class='product-single__view-in-space-text'>{{ 'products.product_page.view_in_space' | t }}</span>
              </button>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
      <!-- end product-images -->

      <div class="product__info">
        <div class="product__info__wrapper">
                    {%- unless onboarding -%}
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {%- render block -%}

                {%- when 'price-and-title' -%}
                  {%- assign product_title = product.title | strip_html -%}

                 {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}
                  <div class="product__title__wrapper{% unless block.settings.show_vendor %} product__title__wrapper--no-subheading{% endunless %}" data-product__title {{ block.shopify_attributes }}>
                    {%- if block.settings.show_vendor -%}
                      <p class="product__vendor subheading-text">{{ product.vendor }}</p>
                    {%- endif -%}

                    <h1 class="product__title">
                      {%- if section_type == 'featured-product' -%}
                        <a href="{{ product.url }}" title="{{ product.title | strip_html }}">
                          {{- product_title -}}
                        </a>
                      {%- else -%}
                        {{- product_title -}}
                      {%- endif -%}
                    </h1>

                    {%- assign first_variant = product.selected_or_first_available_variant -%}
{%- assign on_sale = false -%}
{%- if first_variant.compare_at_price > first_variant.price -%}
	{%- assign on_sale = true -%}
	{%- assign on_sale_class = ' is-sale' -%}
{%- endif -%}

<div class="product__price" data-price-wrapper>
	<span data-product-price>
    {% if settings.is_compare %}
      
        {% assign dc_rate = 1 | minus: settings.product_discount %}
        {% if  product.title contains "Choker" or product.title contains "Necklace" or product.title contains "Pendant" or product.title contains "Earring" or product.title contains "Huggies" or product.title contains "Hoops" or product.title contains "Threaders" or product.title contains "Climbers" %}
          {% capture dc_rate %}
            0.8
          {% endcapture %}
          {{ first_variant.price | times: dc_rate | money }}
        {% elsif product.title contains "Bracelet" or product.title contains "Ring" %}
          {{ first_variant.price | times: dc_rate | money }}
        {% else %}
            {{ first_variant.price | money }}
        {% endif %}
    {% else %}
        {{ first_variant.price | money }}
    {% endif %}
  </span>
	<s class="product__price__sale" data-compare-price style="text-decoration-color:#f94c43; color:#939393">
		{%- if on_sale or settings.is_compare -%}
          {% if  product.title contains "Bracelet" or product.title contains "Ring" or product.title contains "Choker" or product.title contains "Necklace" or product.title contains "Pendant" or product.title contains "Earring" or product.title contains "Huggies" or product.title contains "Hoops" or product.title contains "Threaders" or product.title contains "Climbers" %}
            {% if settings.product_discount %}
                {{- first_variant.price | money_without_currency -}}
            {% else %}
              {{- first_variant.compare_at_price | money_without_currency -}}
            {% endif %}
          {% endif %}
		{%- endif -%}
	</s>
	{%- if first_variant.unit_price_measurement -%}
		{%- capture unit_price_separator -%}
			<span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
		{%- endcapture -%}
		<div class="product__unit-price" data-product-unit>
			<span data-product-unit-price>
				{{ first_variant.unit_price | money }}
				{%- if first_variant.unit_price_measurement.reference_value != 1 -%}
					{{- first_variant.unit_price_measurement.reference_value -}}
				{%- endif -%}
			</span>
			{{ unit_price_separator }}
			<span data-product-base>{{ first_variant.unit_price_measurement.reference_unit }}</span>
		</div>
	{%- endif -%}
</div>

                    {%- if block.settings.show_rating -%}
                      {%- render 'rating', show_rating_count: block.settings.show_rating_count, single_star: true, reviews: product.metafields.reviews -%}
                    {%- endif -%}
                  </div>

                {%- when 'product-description' -%}

                
                  <div class="product__description rte" data-product-description {{ block.shopify_attributes }}>
                   {%- comment -%}
                   
                   <h2 style="color: red;">30% discount applied at checkout.</h2>
                    {%- endcomment -%}
                
                   {{- product.description -}}
                  </div>

                {%- when 'form' -%}
                  {%- assign enable_payment_button = block.settings.enable_payment_button -%}
                  {%- assign show_newsletter = block.settings.show_newsletter -%}
                  {%- assign text_newsletter = block.settings.text_newsletter -%}

                  <div class="product__form" data-show-quantity="{{ block.settings.show_quantity }}" {{ block.shopify_attributes }}>
                    <div data-product-form-container>
                      {%- render 'product-form', product: product, preorder: preorder, enable_payment_button: enable_payment_button -%}
                      {%- render 'notification-form', variant_available: product.selected_or_first_available_variant.available, product_title: product.title, show_newsletter: show_newsletter, text_newsletter: text_newsletter -%}
                    </div>
                  </div>
                  {%- assign has_form_block = true -%}

                {%- when 'store-availability' -%}
                  <div class="product-single__store-availability-container" data-store-availability-container {{ block.shopify_attributes }}></div>

                {%- when 'social-share' -%}
                  <div class="product__share" {{ block.shopify_attributes }}>
                    {%- if settings.share_on_facebook or settings.share_on_twitter or settings.share_on_pinterest -%}
                      <div class="share-links">
                        {%- render 'site-shareLinks' -%}
                      </div>
                    {%- endif -%}
                  </div>

              {%- endcase -%}
            {%- endfor -%}

            {%- unless has_form_block -%}
              {%- assign text_newsletter = 'general.footer.newsletter.default_text_html' | t -%}
              <div class="product__form">
                <div data-product-form-container>
                  {%- render 'product-form', product: product, preorder: preorder -%}
                  {%- render 'notification-form', variant_available: product.selected_or_first_available_variant.available, product_title: product.title, show_newsletter: true, text_newsletter: text_newsletter -%}
                </div>
              </div>
            {%- endunless -%}
          {%- else -%}
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {%- render block -%}

                {%- when 'price-and-title' -%}
                  <div class="product__title__wrapper{% unless block.settings.show_vendor %} product__title__wrapper--no-subheading{% endunless %}" {{ block.shopify_attributes }}>
                    {%- if block.settings.show_vendor -%}
                      <p class="product__vendor subheading-text">{{ shop.name }}</p>
                    {%- endif -%}

                    <h1 class="product__title">{{ 'onboarding.product_title' | t }}</h1>

                    <div class="product__price">{{ 9900 | money }}</div>

                    {%- if block.settings.show_rating -%}
                      {%- render 'rating', show_rating_count: block.settings.show_rating_count, single_star: true, onboarding: true -%}
                    {%- endif -%}
                  </div>

                {%- when 'form' -%}
                  <div class="product__form" data-show-quantity="{{ block.settings.show_quantity }}" {{ block.shopify_attributes }}>
                    {%- render 'pseudoform', enable_payment_button: enable_payment_button -%}
                  </div>

                {%- when 'product-description' -%}
                  <div class="product__description rte">{{ 'onboarding.product_description' | t }}</div>

                {%- when 'social-share' -%}
                  <div class="product__share" {{ block.shopify_attributes }}>
                    {%- if settings.share_on_facebook or settings.share_on_twitter or settings.share_on_pinterest -%}
                      <span class="share-links p">
                        {%- render 'site-shareLinks' -%}
                      </span>
                    {%- endif -%}
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          {%- endunless -%}
        </div>
      </div>
    </div>
  </div>
</div>

{%- comment -%} We should hide the sticky shop bar if product has selling plans {%- endcomment -%}
{%- if is_product_template -%}
  {%- if section.settings.show_cart_bar and product.selling_plan_groups.size == 0 -%}
    {%- render 'shop-bar', product: product, featured_media: featured_media -%}
  {%- endif -%}
{%- endif -%}

{%- unless onboarding -%}
  <script type="application/json" id="ProductJson--{{ section.id }}" data-product-json hidden>{{ product | json }}</script>
  <script type="application/json" id="ModelJson-{{ section.id }}" hidden>{{ product.media | where: 'media_type', 'model' | json }}</script>
{%- endunless -%}