<section class="account-page" data-account-form>
  <div class="container">
    <div class="row inline u-center">
      <div class="recoverForm account-form is-hidden block s1 med_s12" id="recover-form" data-recover-password>
        <div class="row inline">
          <p class="block s1 size--heading-1">{{ 'customer.recover_password.title' | t }}</p>

          <p class="block s1 account-form__info-text">{{ 'customer.recover_password.subtext' | t }}</p>

          <div class="block s1 med_s12">
            {%- form 'recover_customer_password' -%}
              {% assign recover_success = form.posted_successfully? %}

              <div class="row inline">
                {{ form.errors | default_errors }}

                <div class="inputGroup">
                  <label for="RecoverEmail" class="c-gray">{{ 'customer.recover_password.email' | t }}</label>

                  <input type="email" name="email" id="RecoverEmail" autocorrect="off" autocapitalize="off" required>
                </div>
              </div>

              <div class="row inline">
                <input type="submit" class="account-form__submit button block" value="{{ 'customer.recover_password.submit' | t }}">
                
                <div class="row inline"> </div>
                <div class="account-form__links  button">
                  <a href="#login-form" class="account-form__link" data-hide-reset>{{ 'customer.recover_password.cancel' | t }}</a>
                </div>
              </div>
            {%- endform -%}
          </div>
        </div>
      </div>

      <div class="account-form is-hidden block s1 med_s12" id="login-form" data-login-form>
        {%- form 'customer_login' -%}
          <div class="row inline">
            {%- if recover_success -%}
              <div class="row inline u-center">
                <div class="block s1 med_s1 size--heading-3" id="ResetSuccess">
                  {{- 'customer.recover_password.success' | t -}}
                </div>
              </div>
            {%- endif -%}

            <p class="block s1 pad-xs size--heading-1">{{ 'customer.login.title' | t }}</p>

            <div class="block s1 p c-error">
              {{- form.errors | default_errors -}}
            </div>

            <div class="inputGroup block s1 med_s12">
              <label for="CustomerEmail" class="c-gray">{{ 'customer.login.email' | t }}</label>

              <input type="email" name="customer[email]" id="CustomerEmail" class="{% if form.errors contains 'email' %} error{% endif %}" autocorrect="off" autocapitalize="off" autofocus required>
            </div>

            {% if form.password_needed %}
              <div class="inputGroup block s1 med_s12">
                <label for="CustomerPassword" class="c-gray">{{ 'customer.login.password' | t }}</label>

                <input type="password" name="customer[password]" id="CustomerPassword" class="{% if form.errors contains 'password' %} error{% endif %}" required>

                <a href="#recover-form" class="button account-form__link account-form__link--password" data-show-reset>{{ 'customer.login.forgot_password' | t }}</a>
              </div>
            {% endif %}
          </div>

          <input type="submit" class="account-form__submit button" value="{{ 'customer.login.sign_in' | t }}"
        {%- endform -%}

        {%- if shop.checkout.guest_login -%}
          {%- form 'guest_login' -%}
            <input type="submit" class="guest-login-submit button button--secondary" value="{{ 'customer.login.guest_continue' | t }}">
          {%- endform -%}
        {%- endif -%}

        
	    <div class="input-wrapper">
          <div class="account-form__links  button">
            {%- if shop.customer_accounts_enabled -%}
            <a href="{{ routes.account_register_url }}" class="account-form__link">{{ 'customer.link.create_account' | t }}</a>
            {%- endif -%}
          </div>
        </div>          
        
      </div>
    </div>
  </div>
</section>