{%- liquid
  assign current_collection = '||collection-index||'
  assign uniq_id = 'product-' | append: product.id | append: '-' | append: current_collection

  assign arrows = settings.show_slideshow_arrows
  assign dots = settings.show_slideshow_dots
  assign dots_style = settings.dots_style
  if dots_style == 'hidden'
    assign dots = false
  endif

  assign is_single_media = true
  if product.media.size > 1
    assign is_single_media = false
  endif
  assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
  assign featured_media_id = featured_media.id
  assign first_3d_model = product.media | where: 'media_type', 'model' | first
  assign preorder = false
  assign product_tags = product.tags | join: ',' | append: ','

  if product_tags contains '_preorder'
    assign preorder = true
  endif
-%}

<div data-api-content>
  <div class="quickView">
    <div class="quickView-wrap" data-quickview-wrap data-quickview-id="{{ uniq_id }}">
      <div class="quickView-inner-wrap" data-product-container>
        <div class="container">
          <div class="row">
            <div class="quickView-img block">
              <div class="product__images__slider{% if is_single_media %} product__images__slider--single{% endif %}" data-product-single-media-group>
                <div class="product__images__container" id="product__images__slider--{{ section.id }}" data-dots="{{ dots }}" data-arrows="{{ arrows }}" data-product-slideshow>
                  {%- if product.media.size > 0 -%}
                    {%- comment -%} Show Featured media first {%- endcomment -%}
                    {%- render 'media', media: featured_media, featured_media: featured_media, is_single_media: is_single_media, unique: uniq_id -%}

                    {%- comment -%} Loop product media skipping the featured {%- endcomment -%}
                    {%- for media in product.media -%}
                      {%- if media.id != featured_media_id -%}
                        {%- render 'media', media: media, featured_media: featured_media, is_single_media: is_single_media, unique: uniq_id -%}
                      {%- endif -%}
                    {%- endfor -%}
                  {%- else -%}
                    {%- comment -%} Show "No image" if product has no media {%- endcomment -%}
                    {%- assign image_url_pattern = product.featured_image | img_url: '1080x' | replace: '_1080x.', '_{width}x.' -%}
                    {%- assign image_widths = "[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]" -%}
                    <img
                      class="lazyload product-image product-image--empty"
                      src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
                      data-src="{{ image_url_pattern }}"
                      data-widths= "{{ image_widths }}"
                      data-aspectratio="1"
                      data-sizes="auto"
                      width="1080"
                      height="1080"
                      alt="{{ product.title | strip_html | escape }}">
                  {%- endif -%}
                </div>

                {%- if first_3d_model -%}
                  <button
                    aria-label="{{ 'products.product_page.view_in_space_label' | t }}"
                    class="btn btn--ar product-single__view-in-space"
                    data-shopify-xr
                    data-shopify-model3d-id="{{ first_3d_model.id }}"
                    data-shopify-title="{{ product.title | strip_html }}"
                    data-shopify-xr-hidden>
                    {%- render 'icon-media-model' -%}
                    <span class='product-single__view-in-space-text'>{{ 'products.product_page.view_in_space' | t }}</span>
                  </button>
                {%- endif -%}
              </div>
              {%- unless is_single_media -%}
                <div class="product__images__slider-nav" data-product-single-media-thumbs>
                  {%- comment -%} Show Featured media thumbnail first {%- endcomment -%}
                  {%- render 'media-thumb', media: featured_media, index: forloop.index -%}

                  {%- comment -%} Loop product media thumbnails skipping the featured {%- endcomment -%}
                  {%- for media in product.media -%}
                    {%- if media.id != featured_media_id -%}
                      {%- render 'media-thumb', media: media, index: forloop.index -%}
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              {%- endunless -%}
            </div>
            <div class="quickView-info block">
              <a href="#" class="quickView-close" aria-label="{{ 'general.accessibility.close' | t }}" data-quickview-close>
                {%- render 'icon-close' -%}
              </a>
              <div class="product__info">
                <div class="quickView-info-container">
                  <div class="product__title__wrapper" data-product__title>
                    {%- if product.vendor != blank -%}
                      <p class="product__vendor subheading-text">{{ product.vendor }}</p>
                    {%- endif -%}

                    <h1 class="product__title"><a href="{{ product.url }}" title="{{ product.title | strip_html | escape }}">{{ product.title | strip_html }}</a></h1>

                    {%- if settings.show_rating -%}
                      {%- render 'rating', show_rating_count: block.settings.show_rating_count, single_star: true, reviews: product.metafields.reviews -%}
                    {%- endif -%}

                    {%- assign first_variant = product.selected_or_first_available_variant -%}
{%- assign on_sale = false -%}
{%- if first_variant.compare_at_price > first_variant.price -%}
	{%- assign on_sale = true -%}
	{%- assign on_sale_class = ' is-sale' -%}
{%- endif -%}

<div class="product__price" data-price-wrapper>
	<span data-product-price>{{ first_variant.price | money }}</span>
	<s class="product__price__sale" data-compare-price>
		{%- if on_sale -%}
			{{- first_variant.compare_at_price | money -}}
		{%- endif -%}
	</s>
	{%- if first_variant.unit_price_measurement -%}
		{%- capture unit_price_separator -%}
			<span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
		{%- endcapture -%}
		<div class="product__unit-price" data-product-unit>
			<span data-product-unit-price>
				{{ first_variant.unit_price | money }}
				{%- if first_variant.unit_price_measurement.reference_value != 1 -%}
					{{- first_variant.unit_price_measurement.reference_value -}}
				{%- endif -%}
			</span>
			{{ unit_price_separator }}
			<span data-product-base>{{ first_variant.unit_price_measurement.reference_unit }}</span>
		</div>
	{%- endif -%}
</div>
                  </div>
                  <div class="product__form">
                    <div data-product-form-container>
                      {%- render 'product-form', preorder: preorder -%}
                      {%- render 'notification-form', variant_available: product.selected_or_first_available_variant.available, product_title: product.title -%}
                    </div>
                  </div>

                  {%- if product.description != blank and settings.show_quick_view_description -%}
                  <div class="product__description rte">
                    {{- product.description -}}
                  </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script type="application/json" id="ProductJson--{{ uniq_id }}" data-product-json hidden>{{ product | json }}</script>
    <script type="application/json" id="ModelJson-{{ uniq_id }}" hidden>{{ product.media | where: 'media_type', 'model' | json }}</script>
    </div>
  </div>
</div>