{%- liquid
  assign enable_filters = section.settings.enable_filters
  assign enable_sorting = section.settings.show_sort_filter
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign search_param = '?type=' | append: settings.search_type | append: '&q=' | append: search.terms
-%}

{% comment %}
  Set collectionBlock size classes
  These are applied in the collection-grid__block.liquid file
{% endcomment %}
{%- assign products_rows = settings.products_rows | plus: 0 -%}
{%- assign products_columns = settings.products_columns | plus: 0 -%}
{%- assign products_columns_mobile = settings.products_columns_mobile | plus: 0 -%}
{%- assign products_limit = products_columns | times: products_rows -%}
{%- assign columns_size = products_columns | replace: '1', '' -%}
{%- assign columns_size_mobile = products_columns_mobile | replace: '1', '' -%}
{%- assign grid_block_size = 'lg_s1' | append: columns_size -%}
{%- assign grid_block_size_mobile = 's1' | append: columns_size_mobile -%}

{% comment %} Set tablet size to be one-half {% endcomment %}
{%- if products_columns > 2 -%}
	{%- assign grid_block_size = 'lg_s1' | append: columns_size | append: ' med_s13' -%}
{%- endif -%}

<section class="search-page"
  data-section-id="{{ section.id }}"
  data-section-type="search-template"
  {% if search.performed %}
    data-filters-enable="{{ enable_filters }}"
  {% endif %}
  data-filter-mode="default">
  <div class="container">
    <div class="page-title">
      <h1>{{ 'search.content.title' | t }}</h1>
    </div>
  </div>
  <div class="collection-grid container-wrap" data-collection-wrapper>
    <div class="container">
      <div class="search-container">
        <form action="{{ routes.search_url }}" method="get" class="search-page-form" role="search">
            <input type="hidden" name="type" value="{{ settings.search_type }}" />
            <input type="hidden" name="options[prefix]" value="last" />
            <input name="q" type="search" id="SearchField" placeholder="{{ 'general.slide_out_navigation.search_placeholder' | t }}" value="{{ search.terms | escape }}" class="search__field" autofocus />
            <label for="SearchField" class="search__icon-label">
              {%- render 'icon-search' -%}
              <span class="accessible-label">{{ 'general.accessibility.search' | t }}</span>
            </label>
            <button type="submit" class="search__submit" aria-label="{{ 'search.button.text' | t }}" title="{{ 'search.button.text' | t }}">
              {%- render 'icon-arrow-long' -%}
            </button>
          </form>
      </div>
    </div>

    {%- if enable_filters and search.performed -%}
      {%- liquid
  assign file_extension = 'png'
  assign filters_available = false
  assign filter_count = 0
  assign enable_sorting = section.settings.show_sort_filter
  assign position_filters = section.settings.position_filters
  assign search_param = '?type=' | append: settings.search_type | append: '&q=' | append: search.terms

  capture sort_param
    if search.sort_by != search.default_sort_by
      echo '&sort_by=' | append: sort_by
    endif
  endcapture

  assign is_left = false
  if position_filters == 'left'
    assign is_left = true
  endif
-%}

{%- capture filters -%}
  {%- liquid
    if search.filters != empty
      assign filters_available = true
    endif

    for filter in search.filters
      render 'filter', filter: filter
    endfor
  -%}
    <input type="hidden" name="q" value="{{ search.terms | escape }}">
    <input type="hidden" name="type" value="{{ settings.search_type }}">
  {%- if enable_sorting -%}
    <input type="hidden" name="sort_by" value="{{ search.sort_by | default: search.default_sort_by }}" data-input-sort="{{ search.sort_by }}">
  {%- endif -%}

  <noscript>
    <button type="submit" class="btn btn--submit">{{ 'collection.filters.filter_button' | t }}</button>
  </noscript>
{%- endcapture -%}

{%- capture filter_reset_buttons -%}
  {%- for filter in search.filters -%}
    {%- if filter.type == 'price_range' -%}
      {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
        {%- assign filter_count = filter_count | plus: 1 -%}
        <a class="active__filters__remove" href="{{ filter.url_to_remove }}" data-filter-reset-button>
          {%- assign min_value = filter.min_value.value | default: 0 -%}
          {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
          {{ min_value | money_without_trailing_zeros }} - {{ max_value | money_without_trailing_zeros }}
          <span class="filter__x">✕</span>
        </a>
      {%- endif -%}
    {%- else -%}
      {%- for filter_value in filter.active_values -%}
        {%- assign filter_count = filter_count | plus: 1 -%}
        <a class="active__filters__remove" href="{{ filter_value.url_to_remove }}" data-filter-reset-button>
          {{ filter_value.label }}
          <span class="filter__x">✕</span>
        </a>
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{%- if filters != blank -%}
  <div class="collection__filters collection__filters--{{ position_filters }} {% if current_tags != blank %}collection__filters--has-tags-selected{% endif %}" data-filters>
    <div class="container">
      <div class="collection__filters-list">
        <div class="collection__active__filters" data-filters-reset>
          {%- if filter_count > 0 -%}
            <div class="clear__holder">
              <a href="{{ request.path | append: search_param | append: sort_param }}" class="active__filters__clear" data-filter-reset-button>{{ 'collection.filters.clear_all' | t }}</a>
            </div>
          {%- endif -%}

          {%- if filter_reset_buttons != empty -%}
            <div class="reset__holder">
              {{- filter_reset_buttons -}}
            </div>  
          {%- endif -%}
        </div>

        <form class="collection__filters-form" action="{{ routes.search_url }}" data-filters-form>
          {%- if filters_available -%}
            {{- filters -}}
          {%- else -%}
            {%- if enable_filters -%}
              <div class="collection__filters__empty">
                <p><strong>{{ 'collection.filters.empty' | t }}</strong></p>
              </div>
            {%- endif -%}
          {%- endif -%}
        </form>
      </div>
    </div>
  </div>
{%- endif -%}
    {%- endif -%}

    <div class="collection-grid__wrapper" data-collection-grid-wrapper>
      <div class="container">
        <div class="collection-grid__nav">
          {%- if search.performed -%}
            <div class="search-info search-alert">
              <h3>
                {%- if search.results_count == 0 -%}
                  {{ 'search.content.no_results' | t: search: search.terms }}
                {%- else -%}
                  {{ 'search.content.has_results' | t: search: search.terms }}
                {%- endif -%}
              </h3>
            </div>
            <div class="grid-sort">
              {%- if enable_sorting -%}
                <div class="collection-grid__sort">
                  <div class="selector-wrapper">
                    <label for="searchSort">{{ 'collections.sorting_dropdown.label' | t }}</label>

                    <div class="popout sort" data-popout data-popout-prevent="true">
                      {%- render "icon-arrow" -%}
                      <button type="button" class="popout__toggle" aria-expanded="false" aria-controls="sort-list" aria-describedby="lang-heading" data-popout-toggle>
                        {%- for option in search.sort_options -%}
                          {%- if option.value == sort_by -%}
                            {{ option.name }}
                          {%- endif -%}
                        {%- endfor %}
                      </button>

                      <ul id="sort-list" class="popout-list" data-popout-list>
                        {% for option in search.sort_options %}
                        <li class="popout-list__item {% if option.value == sort_by %}popout-list__item--current{% endif %}">
                          <a class="popout-list__option" href="{{ request.path | append: search_param | append: '&sort_by=' | append: option.value}}" {% if option.value == sort_by %}aria-current="true"{% endif %} data-value="{{ option.value }}" data-name="{{ option.name }}" data-popout-option>
                            <span>{{ option.name }}</span>
                          </a>
                        </li>
                        {% endfor %}
                      </ul>

                      <input type="hidden" name="sort_by" id="searchSort" value="{{ sort_by }}" data-collection-sort data-popout-input>
                    </div>
                  </div>
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>

      {%- if search.performed -%}
        {%- paginate search.results by products_limit -%}
          <div class="collection-grid__row collection-grid__row--grid"
          {% if settings.enable_infinity_scroll %} data-infinity{% endif %}
          data-collection="{{ request.path | append: search_param }}&"
          {% if enable_sorting %}data-sort="{{ sort_by }}"{% endif %}
          data-collection-products>
            {%- liquid
              for item in search.results
                if item.object_type == 'product'
                  render 'product-grid-item', product: item, grid_block_size: grid_block_size, grid_block_size_mobile: grid_block_size_mobile, index: forloop.index
                else
                  render 'search-results-item', item: item, grid_block_size: grid_block_size, grid_block_size_mobile: grid_block_size_mobile, index: forloop.index
                endif
              endfor
            -%}
          </div>

          {%- render 'pagination', paginate: paginate -%}
        {%- endpaginate -%}
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Search pages",
    "settings": [
      {
        "type": "header",
        "content": "Filters"
      },
      {
        "type": "checkbox",
        "id": "show_sort_filter",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_filters",
        "label": "Enable filters",
        "default": true,
        "info": "Customize [filters](/admin/menus)"
      },
      {
        "type": "select",
        "id": "position_filters",
        "label": "Position",
        "default": "left",
        "options": [
          { "label": "Top", "value": "top" },
          { "label": "Left", "value": "left" }
        ]
      }
    ]
  }
{% endschema %}