{% comment %} Settings {% endcomment %}
{%- assign heading_position = section.settings.title_position -%}
{%- assign featured_collection = collections[section.settings.featured_collection] | default: false -%}
{%- assign title = section.settings.title -%}
{%- assign show_description = section.settings.show_description -%}
{%- assign layout = section.settings.products_layout -%}
{%- assign show_button = section.settings.show_button -%}
{%- assign button_style = section.settings.button_style -%}
{%- assign color_style = section.settings.color_style -%}
{%- assign enable_carousel = false -%}
{%- if layout == 'carousel' -%}
	{%- assign enable_carousel = true -%}
{%- endif -%}

{% comment %} Layout {% endcomment %}
{% comment %}
  Set collectionBlock size classes
  These are applied in the collection-grid__block.liquid file
{% endcomment %}
{%- assign products_rows = settings.products_rows | plus: 0 -%}
{%- assign products_columns = settings.products_columns | plus: 0 -%}
{%- assign products_columns_mobile = settings.products_columns_mobile | plus: 0 -%}
{%- assign products_limit = products_columns | times: products_rows -%}
{%- assign columns_size = products_columns | replace: '1', '' -%}
{%- assign columns_size_mobile = products_columns_mobile | replace: '1', '' -%}
{%- assign grid_block_size = 'lg_s1' | append: columns_size -%}
{%- assign grid_block_size_mobile = 's1' | append: columns_size_mobile -%}

{% comment %} Set tablet size to be one-half {% endcomment %}
{%- if products_columns > 2 -%}
	{%- assign grid_block_size = 'lg_s1' | append: columns_size | append: ' med_s13' -%}
{%- endif -%}
{%- assign products_rows = section.settings.products_rows | plus: 0 -%}
{%- assign products_limit = products_columns | times: products_rows -%}

{% comment %} Shop All Link {% endcomment %}
{%- capture shop_all_button -%}
	{%- if show_button -%}
		<div class="button-wrapper">
			<a href="{{ featured_collection.url | default: '#' }}" class="button button--{{ button_style }}" aria-label="{{ featured_collection.title | strip_html }}" title="{{ featured_collection.title | strip_html }}">
				{{ 'collections.grid.shop_all' | t }} {{ featured_collection.title }}
			</a>
		</div>
	{%- endif -%}
{%- endcapture -%}

{% comment %} Collection Block, contains .js-quickView {% endcomment %}
{%- capture collection_products -%}
	{%- if featured_collection -%}
		{%- unless featured_collection.products == empty -%}
				{%- if enable_carousel -%}
					{%- for product in featured_collection.products -%}
						{%- render 'product-grid-item', product: product, grid_block_size: grid_block_size, grid_block_size_mobile: grid_block_size_mobile, index: forloop.index -%}
					{%- endfor -%}
				{%- else -%}
					{%- for product in featured_collection.products limit: products_limit  -%}
						{%- render 'product-grid-item', product: product, grid_block_size: grid_block_size, grid_block_size_mobile: grid_block_size_mobile, index: forloop.index -%}
					{%- endfor -%}
				{%- endif -%}
		{%- else -%}
			<div class="collection-no-products">
				<div class="container">
					<h4>{{ 'collections.errors.no_products' | t }}</h4>

					{{- shop_all_button -}}
				</div>
			</div>
		{%- endunless -%}
	{%- else -%}
		{%- for i in (1..products_limit) -%}
			{%- render 'product-grid-item', fallback: true, grid_block_size: grid_block_size, grid_block_size_mobile: grid_block_size_mobile, index: forloop.index -%}
		{%- endfor -%}
	{%- endif -%}
{%- endcapture -%}
<style>

@media screen and (max-width: 767px) {
  .collection-grid__row--grid{
    display:none;
  }
}

@media screen and (min-width: 768px) {
  .collection-grid__row.collection-grid__row--slider.collection-slider.flickity-enabled.is-draggable {
    display: none;
  }
  
  .button-wrapper {
    display: none;
  }
}  
  
.collection-grid__row--grid {
    overflow: hidden;
    margin: 0px 20px 0px 20px;
}
</style>
{% comment %} Section {% endcomment %}
<section class="featured-collection collection-grid container-wrap" id="collection-module-{{ section.id }}"
	data-section-type="featured-collection"
	data-section-id="{{ section.id }}"
	data-show-quantity="{{ settings.show_quantity }}"
	data-style="{{ color_style }}"
	data-collection-products>
	<div class="container">
		{%- if title != blank or show_description and featured_collection.description != blank -%}
      
          {%- unless title == blank -%}
      		<div class="page-title page-title--{{ heading_position }}">
					<h2 style="font-weight:400;letter-spacing:1.6px;letter-spacing:3%">{{ title }}</h2>
			</div>			
     
          {%- else -%}
      
      
			<div class="collection-grid__header row row-sm">
				<div class="block s1">
					{%- unless title == blank -%}
						<h2>{{ title }}</h2>
					{%- endunless -%}

					{%- if show_description and featured_collection.description != blank -%}
						<p>{{ featured_collection.description | strip_html }}</p>
					{%- endif -%}
				</div>
			</div>
         {%- endunless -%}
      
      
		{%- endif -%}
	</div>

		<div class="collection-slider__wrapper">
			<div class="collection-grid__row collection-grid__row--slider collection-slider" data-collection-slider>
				{{- collection_products -}}
			</div>

			<button class="slider-arrow slider-arrow--prev" aria-label="{{ 'slideshow.previous' | t }}" type="button" data-prev-arrow>{% render "icon-submit" %}</button>
			<button class="slider-arrow slider-arrow--next" aria-label="{{ 'slideshow.next' | t }}" type="button" data-next-arrow>{% render "icon-submit" %}</button>
		</div>

  
  
		<div class="collection-grid__row collection-grid__row--grid">
			{{- collection_products -}}
		</div>

	{{- shop_all_button -}}
	
</section>

{% comment %} Schema {% endcomment %}
{% schema %}
{
	"name": "Featured collection",
	"class": "shopify-section--featured-collection",
	"settings": [
		{
			"type": "header",
			"content": "Content"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "select",
			"id": "title_position",
			"label": "Heading position",
			"default": "left",
			"options": [
				{ "label": "Left", "value": "left" },
				{ "label": "Center", "value": "center" }
			]
		},
		{
			"type": "collection",
			"id": "featured_collection",
			"label": "Collection"
		},
		{
			"type": "checkbox",
			"id": "show_description",
			"label": "Show collection description",
			"default": false
		},
		{
			"type": "select",
			"id": "products_layout",
			"label": "Layout",
			"default": "grid",
			"options": [
				{ "value": "grid", "label": "Grid" },
				{ "value": "carousel", "label": "Carousel" }
			]
		},
		{
			"type": "range",
			"id": "products_rows",
			"label": "Products rows",
			"info": "For grid layout only",
			"default": 2,
			"min":1,
			"max":4,
			"step":1
		},
		{
			"type": "checkbox",
			"id": "show_button",
			"label": "Show collection link button",
			"default": true
		},
		{
			"type": "select",
			"id": "button_style",
			"label": "Button style",
			"default": "primary",
			"options": [
				{ "label": "Primary", "value": "primary" },
				{ "label": "Secondary", "value": "secondary" }
			]
		},
		{
			"type": "select",
			"id": "color_style",
			"label": "Arrows style",
			"default": "white",
			"options": [
				{
					"value": "white",
					"label": "Light"
				},
				{
					"value": "black",
					"label": "Dark"
				}
			]
		},
        {
          "type": "range",
          "id": "products_columns",
          "label": "Products per row on desktop",
          "default": 4,
          "min": 1,
          "max": 4,
          "step": 1
        }
	],
	"presets": [
		{
			"category": "Collection",
			"name": "Featured collection",
			"settings": {
				"featured_collection": "frontpage"
			}
		}
	]
}
{% endschema %}