<script>
$('.promo').click(function(){
    var mapAddress=$(this).attr("data-address");
    $(".embed-container, .maps").html('<iframe  width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="'+mapAddress+'"><\/iframe>');
});
</script>
{%- style -%}

@media screen and (max-width: 767px) {
  .column_height_1{
    height: 100%;
    justify-content: center !important;
    flex-direction: column;
    align-items: center !important;
  }
  .column_height_2{
    height: 100%;
    justify-content: center !important;
    flex-direction: column;
    align-items: center !important;
  }

  .grid--flush-bottom {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 0 !important
  }
}
  
{%- endstyle -%}

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="index-section color-scheme-{{ section.settings.color_scheme }}">
  {%- if section.settings.color_scheme != 'none' -%}
    {%- render 'color-scheme-texture', color_scheme: section.settings.color_scheme -%}
  {%- endif -%}

  <div class="page-width">
    {%- if section.settings.title != blank -%}
      <div class="section-header text-{{ section.settings.align_text }}">
        <h2>{{ section.settings.title }}</h2>
      </div>
    {%- endif -%}

    <div class="grid{% unless section.blocks.size == 5 %} grid--uniform{% endunless %} grid--flush-bottom">
      {%- liquid
        assign grid_item_width = 'medium-up--one-third'
        case section.blocks.size
          when 1
            assign grid_item_width = 'medium-up--one-half'
          when 2
            assign grid_item_width = 'medium-up--one-half'
          when 4
            assign grid_item_width = 'medium-up--one-half'
        endcase
      -%}
      {%- for block in section.blocks -%}
        {%- if section.blocks.size == 5 and forloop.index < 3 -%}
          {%- assign column_width = 'medium-up--one-half' -%}
        {%- else -%}
          {%- assign column_width = grid_item_width -%}
        {%- endif -%}
       {% if forloop.index == 7 %}
          {%- assign column_height = 'column_height_2' -%}       
       {%- else -%}
          {%- assign column_height = 'column_height_1' -%}
       {%- endif -%}
        <div class="grid__item {{ column_width }} {{ column_height }} text-{{ section.settings.align_text }}" {{ block.shopify_attributes }}>
          {%- if block.settings.enable_image -%}
            <div style="{% if section.settings.align_text == 'center' %}margin: 0 auto;{% endif %} max-width: {{ block.settings.image_width }}px;">
              {%- if block.settings.image != blank -%}
                <div class="image-wrap text-spacing" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
                  {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                 {%- if block.settings.code != blank-%}
                   {{ block.settings.code }}
                 {%- else -%}
                  <img class="lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080]"
                      data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ block.settings.image.alt }}">
                 {%- endif -%}
                </div>
              {%- else -%}
                 {%- if block.settings.code != blank-%}
                   {{ block.settings.code }}
                 {%- else -%} 
                   <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--no-padding' }}</div>
                 {%- endif -%}
              {%- endif -%}
              {%- if block.settings.button_link != blank -%}
                </a>
              {%- endif -%}
            </div>
          {%- endif -%}
          {%- if block.settings.title != blank -%}
            <div class="h3 rte--block">{{ block.settings.title }}</div>
          {%- endif -%}
          {%- if block.settings.text != blank -%}
            <div class="rte-setting rte--block text-spacing">{{ block.settings.text }}</div>
          {%- endif -%}
          {%- if block.settings.button_label != blank -%}
            <a href="{{ block.settings.button_link }}" class="btn btn--secondary btn--small">
              {{ block.settings.button_label }}
            </a>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{%- if section.settings.divider -%}</div>{%- endif -%}

{%- style -%}
.h3.rte--block {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 50px;
}
.rte-setting.rte--block.text-spacing {
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
  .h3.rte--block {
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 2px;
      margin-top: 20px;
      text-align: center;
  }
  .rte-setting.rte--block.text-spacing{
     font-size: 14px;
     font-weight: 400;
     text-align: center;
   }

}
{%- endstyle -%}

{% schema %}
{
  "name": "Text columns with images",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "Alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centered"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "Show section divider",
      "default": false
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_image",
          "label": "Show image",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "liquid",
          "id": "code",
          "label": "Code",
          "default": "<h4>Custom code block</h4><p>Use this advanced section to add custom HTML, app scripts, or liquid.</p>",
          "info": "Code"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "Image width",
          "default": 650,
          "min": 60,
          "max": 650,
          "step": 10,
          "unit": "px"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Example title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Optional button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text columns with images",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ]
}
{% endschema %}
